

body{
    background: var(--Light-blue-light-blue-100, #F3F5FC)
}

svg{

    position: absolute;
    top: 40px;
    left: 0;
}

.resultado{
    width: 100%;
    padding: 32px;
    color: var(--Gray-gray-400, #495057);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    height: 700px;
    word-wrap: break-word;
    
}


.aviso{
    color: var(--Gray-gray-500, #343A40);
    margin-top: 70%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

.resultado{
    width: 400px; 
    height: 750px; 
    left: 1250px; 
    top: 40px; 
    position: absolute; 
    background: white; 
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
    border-radius: 32px;
    overflow: auto;
}

input{
    width: 780px; 
    left: 240px; 
    top: 168px; 
    position: absolute; 
    color: #0A3871; 
    font-size: 32px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 400; 
    line-height: 48px; 
    border: none;
    background: none;
    word-wrap: break-word;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}


input::placeholder {
    color: #0A3871;
}

.divCrip{
    height: 60px;
     padding: 24px; 
     background: #0A3871;
      border-radius: 24px; 
      justify-content: flex-start;
       align-items: flex-start; 
       gap: 8px; 
       display: flex;
       align-items: center;
       
}

#crip {
    color: white;
  }
  
 #descrip {
    color: #0A3871;
  }


.buttonsDiv{
    width: 680px;
    left: 240px;
    top: 723px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.buttons{
    flex: 1 1 0;
    text-align: center; 
    height: 150%;
    width: 390px;
    font-size: 24px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
    background: none;
    border: none; 
}
.divCopiar,
.divDescrip{
    height: 60px; 
    padding: 24px;
     background: #D8DFE8;
      border-radius: 24px; 
      border: 1px #0A3871 solid;
       justify-content: flex-start; 
       gap: 8px; 
       display: flex;
       align-items: center;
}

.divCopiar{
    position: absolute;
    bottom: 20px;
    width:75%;
}




